/*.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .back-btn, .employee-switch-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .employee-switch-btn {
    background-color: #007BFF;
  }
  
  .back-btn:hover, .employee-switch-btn:hover {
    background-color: #45a049;
  }
  
  .employee-list {
    margin-top: 20px;
  }
  
  .employee-item {
    padding: 10px;
    background-color: #f1f1f1;
    margin: 5px 0;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  
  .employee-item:hover {
    background-color: #ddd;
  }
  
  .profile-box, .payroll-box, .availability-box, .schedule-box {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-bottom: 10px;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    background-color: #fafafa;
  }
  */
.sidebar {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.717);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed; 
  height: 78vh;           
  left: 0;        
  padding: 0;
}
.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar-button{
  background-color: rgb(227, 160, 193);
  border: none;
  color: white;
  margin: .5rem .5rem 0;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  width: 90%;
}
.sidebar-button:hover {
  background-color: rgb(207, 112, 160);
}
.back-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  margin: .5rem .5rem ;
}
.back-button:hover {
  background-color: #e53935;
}
  
.content {
  margin-left: 250px; 
  text-align: left;
}
.employee-selector {
  margin-bottom: 20px;
}
#employee-select {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
  
.profile-box, .payroll-box, .availability-box, .schedule-box {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.h1{
  color: rgb(174, 50, 110);
  margin-left: 0rem;
}
.h2{
  padding: 1rem 0 1rem .5rem;
  color: white;
  background-color: rgb(174, 50, 110);
  border-radius: .5rem
}
  
.ul {
  list-style-type: none;
  padding: 0;
}
  
.ul li {
  padding: 5px 0;
  font-size: 16px;
}
  
  
.current-payroll, .total-payroll {
  margin-bottom: 20px;
}
  
.current-payroll p, .total-payroll p {
  font-size: 16px;
}