header {
  position: fixed;
  height: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  }
  .App {
    margin-top: 140px; 
    padding: 20px;
  }

